
.confirm-cont{
    width: 20rem;
    height: 60vh;
    background-color:white;
    text-align: center;
    border-color: #2AC769;
    border-style: groove;
    border-radius: 20px;
    margin-left: 1.6rem;
    margin-top: 4vh;
    font-family: 'Open Sans', sans-serif;

}

.confirm-tittle{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 5vh;
    margin-left: 1.2rem;
    font-weight: bold;
}
.title{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}