.home-section{
    width:inherit;
    height: 100vh;
    background-color: khaki;
}
.my-menu{
    background-color: lawngreen;
}
.box-input{
    padding: 20rem 0rem 0rem 4rem;
    display: flex;
    flex-direction: column;
}