.confirm-modal{
    width: 90%;
    height: 70vh;
}
.confirm-tittle h2{
    font-size: 0.5rem;
    text-align: justify;
}
.links{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links Button{
    border-color: transparent;
    background-color: transparent;
    text-transform: capitalize;
    box-shadow: none;
    font-size: 1rem;
    font-weight: bold;
}
.btn-col{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-col Button{
    background-color: black;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
.btn-modal{
    background-color: black;
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    color: white;
}
.btn-modal{
    background-color: black;
    font-size: 12px;
    text-decoration: none;
    color: white;
    width:12rem;
    height: 2rem;
    border-radius:10px; 
    margin: 0.5rem 0 0.5rem 0;
}

.privacity .btn-modal {
    background-color: black;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

/* -------------------------------------------------- */

@media (min-width: 48em)  {
.confirm-modal{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirm-tittle h1{
    font-size: 2rem;
}
.links{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links Button{
    border-color: transparent;
    background-color: transparent;
    text-transform: capitalize;
    box-shadow: none;
    font-size: 3rem;
    font-weight: bold;
}
.btn-col{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-col Button{
    background-color: black;
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    color: white;
}
}