.menu-item{
    margin-top: 2rem;
}
a{
    color: white;
    
}
#home, #about, #contact{
    padding: 4rem 0rem 0rem 0rem;

}
.box-menu{
    width: inherit;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    text-decoration: none;
}